.footer {
  background-color: #1a1b35;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}

.footer input {
  padding: 0.5rem 1rem;
  width: 278px;
  border-radius: 0.5rem 0 0 0.5rem;
  border-style: none;
}

.footer button {
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background: none;
  background-color: rgb(255, 140, 17);
  color: #efefef;
  font-weight: bold;
}

.footer button:hover {
  cursor: pointer;
}
