.header {
  background-color: #1a1b35;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
}

.textBtn {
  display: flex;
  flex-direction: row;
}

.textBtn button {
  margin-right: 1rem;
  background: none;
  border-style: none;
  color: rgb(255, 140, 17);
  font-size: medium;
}

.iconBtn {
  color: rgb(255, 140, 17);
  margin-left: 1rem;
  background: none;
  border-style: none;
  width: 2rem;
  height: 1rem;
  font-size: medium;
}

.textBtn button:hover,
.iconBtn:hover {
  cursor: pointer;
}
